.ContactUs {
    width : 100%;
    background-color: var(--background-grey);
    padding: 9.625rem 9.1875rem 10rem 9.1875rem;
    text-align: center;
}

.ContactUs h1{
    font-size: 48px;
    line-height: 48px;
}

.ContactUs span{
    color: var(--logo-color);
}

.ContactUs p{
    font-size: 1.0456rem;
    line-height: 1.75rem;
    margin-bottom: 6rem;
}

.ContactBottom {
    width: 100%;
    display : flex;
   justify-content: space-between;
}

.ContactLeft{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap : 48px;
}

.ContactBottomEmail{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 8px;
}

.ContactBottomEmail :nth-child(2){
    color: #616161;
}

.ContactBottomEmail :nth-child(3){
    color: var(--logo-color);
}
.ContactLeftText {
    display: flex;
    gap : 16px;
}

.ContactForm {
    width: 650px;
}

.ContactForm form {
    width: 100%;
    display : flex;
    gap : 35px;
    flex-direction: column;
}
.topInputDiv{
    width: 100%;
    display: flex;
    gap : 8px;
}

.topInputDiv input{
    width : 320px;
}

.inputDetails {
    padding : 15px 0px 15px 12px;
    font-size: 15px;
    background-color: #333333;
    border-radius: 8px;
}

.inputButton {
    background-color: var(--button-color);
    width: 178px;
    height: 52px;
    border-radius: 8px;
 
    &:hover{
        background-color: var(--hover-button-color);
    }
}

@media (max-width :768px){
   .ContactBottom{
    flex-direction : column;
    gap: 120px;
   }
   .ContactUs{
    padding : 160px 32px 160px 32px;
   }
}

@media (max-width : 390px){
    .ContactForm {
        width: 100%;
    }
    .topInputDiv{
      flex-direction: column;
      gap : 30px
    }
}