@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --background-black : #0A0908;
  --logo-color: #A9927D;
  --button-color: #5E503F;
  --hover-button-color : #7D674C;
  --background-grey : #1A1A1A;
  --background-gray : #222222;
}

html,body{
  color: #ffffff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

